@font-face {
  font-family: 'SpartanRegular';
  src:    local('SpartanRegular'), 
          url(./fonts/Spartan-Medium.ttf) format('truetype');
  font-display: swap
}

@font-face {
  font-family: 'SpartanBold';
  src:    local('SpartanBold'), 
          url(./fonts/Spartan-Bold.ttf) format('truetype');
  font-display: swap
}


body {
  margin: 0;
  font-family: 'SpartanRegular', sans-serif;
  background-color: #F8F8FB;
}


h1, h2, h3, h4, h5 {
  font-family: 'SpartanBold';
  color: #0C0E16;
  font-size: 1.25em;
  letter-spacing: -0.625px;
}

p {
  font-size: 0.75em;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888EB0;
}

a {
  text-decoration: none;
}

button {
  font-family: 'SpartanBold';
  font-size: 0.75em;
  letter-spacing: -0.25px;
}



.invoices-menu {
  max-width: 88%; 
  margin: 0 auto; 
}

.invoice {
  max-width: 88%;
  margin: 0 auto;
}

.back-btn {
  max-width: 88%; 
  margin: 0 auto; 
}

.invoice__status--container {
  max-width: 88%; 
  margin: 0 auto; 
}

.invoice__details--container {
  max-width: 88%; 
  margin: 0 auto; 
}

.new-invoice {
  max-width: 88%; 
  margin: 0 auto; 
}



@media screen and (min-width: 550px) {
  h1, h2, h3, h4, h5 {
    font-size: 2em;
    letter-spacing: -1px;
  }
}